/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.vt323-regular {
  font-family: 'VT323', monospace;
  font-weight: 600;
  font-style: normal;
} */
  /* font-family: 'VT323', monospace; */

