.hero {
    padding-top: 10px;
  position: relative;      
  display: flex;

  justify-content: space-between;
  align-items: center;
 
  padding: 0 50px;
  height: 100vh;           /* full viewport height */
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;              /* behind content */
}

.hero-left,
.hero-right {
  position: relative;      
  z-index: 1;
}

.hero-left h1, .hero-left p, .hero-btn {
  color: white;          /
}

.hero-right {
  display: flex;
  justify-content: end;
  align-items: center;
}
.hero-img {
  max-width: 65%;
  border-radius: 50%;
}